
<%@ page import="subscriberpoc.Subscriber" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'subscriber.label', default: 'Subscriber')}" />
		<title><g:message code="default.list.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#list-subscriber" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="list-subscriber" class="content scaffold-list" role="main">
			<h1><g:message code="default.list.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
				<div class="message" role="status">${flash.message}</div>
			</g:if>
			<table>
			<thead>
					<tr>
					
						<g:sortableColumn property="email" title="${message(code: 'subscriber.email.label', default: 'Email')}" />
					
						<g:sortableColumn property="verified" title="${message(code: 'subscriber.verified.label', default: 'Verified')}" />
					
					</tr>
				</thead>
				<tbody>
				<g:each in="${subscriberInstanceList}" status="i" var="subscriberInstance">
					<tr class="${(i % 2) == 0 ? 'even' : 'odd'}">
					
						<td><g:link action="show" id="${subscriberInstance.id}">${fieldValue(bean: subscriberInstance, field: "email")}</g:link></td>
					
						<td><g:formatBoolean boolean="${subscriberInstance.verified}" /></td>
					
					</tr>
				</g:each>
				</tbody>
			</table>

				<div class="pagination">
					<g:paginate total="${subscriberInstanceList.getTotalCount()}" max="500" />
				</div>

		</div>
	</body>
</html>
