
<%@ page import="subscriberpoc.Subscriber" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'subscriber.label', default: 'Subscriber')}" />
		<title><g:message code="default.show.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#show-subscriber" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="list" action="index"><g:message code="default.list.label" args="[entityName]" /></g:link></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="show-subscriber" class="content scaffold-show" role="main">
			<h1><g:message code="default.show.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
			</g:if>
			<ol class="property-list subscriber">
			
				<g:if test="${subscriberInstance?.email}">
				<li class="fieldcontain">
					<span id="email-label" class="property-label"><g:message code="subscriber.email.label" default="Email" /></span>
					
						<span class="property-value" aria-labelledby="email-label"><g:fieldValue bean="${subscriberInstance}" field="email"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${subscriberInstance?.confirmCode}">
				<li class="fieldcontain">
					<span id="confirmCode-label" class="property-label"><g:message code="subscriber.confirmCode.label" default="Confirm Code" /></span>
					
						<span class="property-value" aria-labelledby="confirmCode-label"><g:fieldValue bean="${subscriberInstance}" field="confirmCode"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${subscriberInstance?.topics}">
				<li class="fieldcontain">
					<span id="topics-label" class="property-label"><g:message code="subscriber.topics.label" default="Topics" /></span>
					
						<g:each in="${subscriberInstance.topics}" var="t">
						<span class="property-value" aria-labelledby="topics-label"><g:link controller="topic" action="show" id="${t.id}">${t?.encodeAsHTML()}</g:link></span>
						</g:each>
					
				</li>
				</g:if>
			
				<g:if test="${subscriberInstance?.verified}">
				<li class="fieldcontain">
					<span id="verified-label" class="property-label"><g:message code="subscriber.verified.label" default="Verified" /></span>
					
						<span class="property-value" aria-labelledby="verified-label"><g:formatBoolean boolean="${subscriberInstance?.verified}" /></span>
					
				</li>
				</g:if>

				<g:if test="${subscriberInstance?.dateCreated}">
					<li class="fieldcontain">
						<span id="dateCreated-label" class="property-label"><g:message code="subscriber.dateCreated.label" default="Signup Date" /></span>

						<span class="property-value" aria-labelledby="dateCreated-label"><g:formatDate date="${subscriberInstance?.dateCreated}" /></span>

					</li>
				</g:if>
			
			</ol>
			<g:form url="[resource:subscriberInstance, action:'delete']" method="DELETE" useToken="true">
				<fieldset class="buttons">
					<g:link class="edit" action="edit" resource="${subscriberInstance}"><g:message code="default.button.edit.label" default="Edit" /></g:link>
					<g:actionSubmit class="delete" action="delete" value="${message(code: 'default.button.delete.label', default: 'Delete')}" onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');" />
				</fieldset>
			</g:form>
		</div>
	</body>
</html>
