<%@ page import="subscriberpoc.MediaRelease" %>



%{--<div class="fieldcontain ${hasErrors(bean: mediaReleaseInstance, field: 'title', 'error')} required">--}%
    %{--<label for="title">--}%
        %{--<g:message code="mediaRelease.title.label" default="Title" />--}%
        %{--<span class="required-indicator">*</span>--}%
    %{--</label>--}%
    %{--<g:textField name="title" required="" value="${mediaReleaseInstance?.title}"/>--}%

%{--</div>--}%

%{--<div class="fieldcontain ${hasErrors(bean: mediaReleaseInstance, field: 'url', 'error')} ">--}%
    %{--<label for="url">--}%
        %{--<g:message code="mediaRelease.url.label" default="Url" />--}%

    %{--</label>--}%
    %{--<g:field type="url" name="url" value="${mediaReleaseInstance?.url}"/>--}%

%{--</div>--}%

%{--<div class="fieldcontain ${hasErrors(bean: mediaReleaseInstance, field: 'snippet', 'error')} ">--}%
    %{--<label for="snippet">--}%
        %{--<g:message code="mediaRelease.snippet.label" default="Snippet" />--}%

    %{--</label>--}%
    %{--<g:textArea name="snippet" cols="40" rows="5" maxlength="1024" value="${mediaReleaseInstance?.snippet}"/>--}%

%{--</div>--}%

%{--<div class="fieldcontain ${hasErrors(bean: mediaReleaseInstance, field: 'releaseDate', 'error')} ">--}%
    %{--<label for="releaseDate">--}%
        %{--<g:message code="mediaRelease.releaseDate.label" default="Release Date" />--}%

    %{--</label>--}%
    %{--<g:datePicker name="releaseDate" precision="day"  value="${mediaReleaseInstance?.releaseDate}" default="none" noSelection="['': '']" />--}%

%{--</div>--}%

%{--<div class="fieldcontain ${hasErrors(bean: mediaReleaseInstance, field: 'hasBeenSent', 'error')} ">--}%
    %{--<label for="hasBeenSent">--}%
        %{--<g:message code="mediaRelease.hasBeenSent.label" default="Has Been Sent" />--}%

    %{--</label>--}%
    %{--<g:checkBox name="hasBeenSent" value="${mediaReleaseInstance?.hasBeenSent}" />--}%

%{--</div>--}%

%{--<div class="fieldcontain ${hasErrors(bean: mediaReleaseInstance, field: 'isMediaRelease', 'error')} ">--}%
    %{--<label for="isMediaRelease">--}%
        %{--<g:message code="mediaRelease.isMediaRelease.label" default="Is Media Release" />--}%

    %{--</label>--}%
    %{--<g:checkBox name="isMediaRelease" value="${mediaReleaseInstance?.isMediaRelease}" />--}%

%{--</div>--}%

%{--<div class="fieldcontain ${hasErrors(bean: mediaReleaseInstance, field: 'site', 'error')} required">--}%
    %{--<label for="site">--}%
        %{--<g:message code="mediaRelease.site.label" default="Site" />--}%
        %{--<span class="required-indicator">*</span>--}%
    %{--</label>--}%
    %{--<g:select id="site" name="site.id" from="${subscriberpoc.Site.list()}" optionKey="id" required="" value="${mediaReleaseInstance?.site?.id}" class="many-to-one"/>--}%
    %{--<g:each in="${subscriberpoc.MediaRelease.list()}" var="release">--}%
        %{--<label class="subscriberCreateBox col-md-3">--}%
            %{--<g:if test="${subscriberInstance != null && subscriberInstance.topics != null && !subscriberInstance.topics.contains(topic)}">--}%
                %{--<g:checkBox id="" name="topics" value="${topic.id}" checked="${false}" title="${release.url}" /> ${release.url}--}%
                %{--<div class="subscriberDescription">${topic.description}</div>--}%
            %{--</g:if>--}%
            %{--<g:else>--}%
                %{--<g:checkBox id="" name="topics" value="${topic.id}" checked="${true}" title="${topic.description}" /> ${topic.name}--}%
                %{--<div class="subscriberDescription">${topic.description}</div>--}%
            %{--</g:else>--}%
        %{--</label>--}%
    %{--</g:each>--}%
%{--</div>--}%

