<%@ page contentType="text/html"%>

<div>
    <h1>Australian Government Media Releases</h1>

    <h2>Your Subscriptions</h2>

    <p>${messageText}</p>

    %{--<g:createLink absolute="true" controller="subscriber" action="confirm" id="${code}" params="[email: email]"></g:createLink> <br>--}%

    %{--Change Subscription: <g:createLink absolute="true" controller="subscriber" action="modify" id="${code}" params="[email: email]"></g:createLink>--}%
</div>